.RData
.Rhistory
_site/
.Rproj.user/
*_cache/
*_files/

*.bbl
*.blg
*.log
*.aux
*.out
*.spl
*.xdv
*.fls
*.fdb_latexmk
manuscript/manuscript.tex
manuscript/manuscript_files/
manuscript/manuscript\.aux
manuscript/manuscript-tikzDictionary
site_libs/
manuscript/manuscript.md

data/distances.rds
data/nyc_shortest_paths*
data/tracts/*
data/blockgroups/*
