.RData
.Rhistory
_site/
.Rproj.user/
.idea/
*_cache/
*_files/
data/nyc_shortest_paths_*
data/graph.file
data/graph_proj.file
*.bbl
*.blg
*.log
*.aux
*.out
*.spl
*.xdv
*.fls
*.fdb_latexmk
manuscript/manuscript.tex
manuscript/manuscript_files/
manuscript/manuscript\.aux
manuscript/manuscript-tikzDictionary
manuscript/final/*
manuscript/submission/*
site_libs/
manuscript/manuscript.md
manuscript.final.zip
data/distances.rds
data/nyc_shortest_paths*
data/tracts/*
data/blockgroups/*
